<nav th:fragment="_header" class="nav">
  <div class="container">
      <a class=""  th:href="@{/}"> <input type="image" src="/img/png/MARCA.png" alt="semillero" class="marca"></a> 

    </a>
    
    <div class="" id="">
      <ul class="">
        <li>
          <a class="" aria-current="page" th:href="@{/semillas}">Semillas</a>
        </li>

        <li class="">
          <a class="" th:href="@{/aliados}">Aliados</a>
        </li>

        <li class="">
          <a class="" th:href="@{/eventos}">Eventos</a>
        </li>
        
        <li class="">
          <input type="button" value="SJ" class="user">
      </li>
      </ul>
    </div>
  </div>
</nav>




<!--<nav th:fragment="_header" class="" >

    <div class="container">
        <a class=""  th:href="@{/}"> <input type="image" src="/img/png/MARCA.png" alt="semillero" class="marca"></a> 
    <div class="">
        <ul class="">
            <li>
                <a th:href="@{/semillas}">Semillas</a>
            </li>

        </ul>



    </div>
    
    
    
    </div>-->

           
    <!--<a href=""> <input type="image" src="/img/png/MARCA.png" alt="semillero" class="marca"></a>
    
    <input type="button" value="SJ" class="user">
    
</nav>

</html>-->
