<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- TITLE -->
    <title>Editar Semilla | Semillero</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/img/logo.png"/>

    <!-- MATERIAL TAILWIND -->
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"/>

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/loading.css"/>
    <!-- <link rel="stylesheet" href="../../static/css/loading.css" /> -->
    <link href="/css/nav-static.css" rel="stylesheet"/>
    <!-- <link href="../../static/css/nav-static.css" rel="stylesheet"/> -->
    <link href="/css/semilla.css" rel="stylesheet"/>
    <!-- <link href="../../static/css/semilla.css" rel="stylesheet"/> -->

    <!-- GOOGLE ICONS -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<body>
<div th:replace="fragments/loading :: loader"></div>
<nav th:replace="fragments/nav :: _nav"></nav>

<main th:object="${seedDTO}">
    <!-- ALERTAS -->
    <!-- cambios -->
    <div class="cambios-exito-container">
        <div class="cambios-exito-box">
            <img src="/img/icons/alert-exito.svg" alt="Exitosa">
            <!--            <img src="../../static/img/icons/alert-exito.svg" alt="Exitosa">-->
            <span>¡Cambios guardados con éxito!</span>
        </div>
    </div>
    <div class="cambios-error-container">
        <div class="cambios-error-box">
            <img src="/img/icons/alert-error.svg" alt="Error">
            <!--            <img src="../../static/img/icons/alert-error.svg" alt="Error">-->
            <span>¡Uy!</span>
            <span class="alert-text-small">En este momento, los cambios no se pudieron guardar</span>
        </div>
    </div>

    <h1 class="titulo-editar-semilla">Editar Semilla</h1>

    <div class="datos-semilla">
        <!-- top -->
        <div class="flex-top">
            <div class="nombre">
                <span class="static-campo">Apellido y nombre:</span>
                <span class="static-valor"
                      th:text="*{firstName}"></span>
            </div>
        </div>

		<!-- mid -->
        <div class="flex-mid">
        	<!-- izquierda -->
            <div class="flex-mid-left">
                <div class="rol">
                    <span class="static-campo">Rol:</span>
                    <span class="static-valor" th:text="*{rol}"></span>
                </div>

                <div class="comision">
                    <span class="static-campo">Comisión:</span>
                    <span class="static-valor" th:text="*{commission}"></span>
                </div>

                <div class="turno">
                    <span class="static-campo">Turno:</span>
                    <span class="static-valor" th:text="*{turn}"></span>
                </div>
            </div>

            <!-- derecha -->
            <div class="flex-mid-right">
                <div class="telefono">
                    <span class="static-campo">Teléfono:</span>
                    <span class="static-valor" th:text="*{telephone}"></span>
                </div>

                <div class="estado">
                    <span class="static-campo">Estado:</span>
                    <span th:text="${seedDTO.secondary == null || seedDTO.secondary == ''
                           ? seedDTO.primary : seedDTO.primary + ' - ' + seedDTO.secondary}"
                          th:class="${seedDTO.secondary.toUpperCase() == 'EN ESPERA DE PROYECTO' ||
                           seedDTO.secondary.toUpperCase() == 'ASIGNADA A PROYECTO' ||
                           seedDTO.secondary.toUpperCase() == 'NO DISPONIBLE TEMPORALMENTE'
                           ? 'green static-valor' : (seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO - NO EN IT' ||
                           seedDTO.secondary.toUpperCase() == 'ABANDONÓ'
                           ? 'red static-valor' : (seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO EN IT - PASÓ A QUINTO' ||
                           seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO EN IT - OTRA EMPRESA' ||
                           seedDTO.primary.toUpperCase() == 'FINALIZÓ PROYECTO'
                           ? 'blue static-valor' : 'black static-valor'))}"></span>
                </div>

                <!-- display-none en caso de no estar asignado a ningún proyecto -->
                <div class="ifestado" th:if="${seedDTO.projectName != null}">
                    <span class="if static-campo">Proyecto:</span>
                    <span class="if static-valor valor-large" th:text="*{projectName}"></span>
                </div>

                <div class="certificado">
                    <span class="static-campo">Certificado:</span>
                    <th:block th:if="${seedDTO.certificationString == null || seedDTO.certificationString == ''}">
                        <span class="static-valor">Sin especificar...</span>
                    </th:block>
                    <th:block th:unless="${seedDTO.certificationString == null || seedDTO.certificationString == ''}">
                        <span class="static-valor si"
                              th:if="${seedDTO.certificationString.toUpperCase() == 'ENVIADO'}">Enviado</span>
                        <span class="static-valor no"
                              th:if="${seedDTO.certificationString.toUpperCase() == 'NO ENVIADO'}">No enviado</span>
                    </th:block>
                </div>
            </div>
        </div>
        
        <!-- bot -->
        <div class="flex-bot">
            <div class="invitaciones">
                <span class="static-campo">Invitaciones a Eventos:</span>
                <span class="static-valor"></span>
            </div>
            <div class="asistencias">
				<span class="static-campo">Asistencias:</span>
				<span class="static-valor"></span>
			</div>
            <div class="porcentaje">
				<span class="static-campo">Porcentaje de asistencia:</span>
				<span class="static-valor"></span>
			</div>
        </div>
    </div>
    <form id="form-all-items" th:action="@{/seed/update/{id}(id=*{id})}" th:object="${seedDTO}" method="post">

        <input type="text" th:field="*{commission}" style="display: none">
        <input type="text" th:field="*{digitalEmployment}" style="display: none">

        <!-- observaciones -->
        <div class="observaciones-container">
            <div class="observaciones-menu active">Observación
                <span class="material-symbols-outlined observaciones-arrow active">arrow_drop_down</span>
            </div>

            <div class="observaciones-form-container active">
                <div class="observaciones-form">
                    <input type="text" autocomplete="off" placeholder="Agregar observación (opcional)" th:field="*{observation}">
                    <button type="submit" title="Los formularios también se van a guardar" class="observaciones-submit">
                        Guardar cambios
                    </button>
                </div>
            </div>
        </div>

        <!-- tabs semilla -->
        <div class="tabs-semilla">
            <!-- tab datos personales -->
            <input type="radio" class="radio-chip" name="tabs" id="tabdatospersonales">
            <label for="tabdatospersonales" class="label-chip">
                <span class="material-symbols-outlined">person</span>
                <span class="titulo-chip">Datos personales</span>
            </label>
            <div class="tab tab-datos-personales">
                <!-- columns -->
                <div class="tab-columns">
                    <!-- left -->
                    <div class="tab-left">
                        <div class="dato-editable">
                            <span class="dato-campo">Apellido y Nombre</span>
                            <input type="text" class="dato-input" th:field="*{firstName}" autocomplete="off" required>
                        </div>

                        <div class="dato-editable">
                            <span class="dato-campo">Fecha de nacimiento</span>
                            <input type="date" class="dato-input" th:field="*{birthDate}" autocomplete="off" required>
                        </div>

                        <div class="dato-editable gender">
                            <span class="dato-campo">Género</span>
                            <div class="select">
                                <!-- <input type="text" class="dato-input" th:field="*{gender}" autocomplete="off" required value="Masculino"> -->
                                <input type="text" class="dato-input desplegable selected" th:field="*{gender}" readonly
                                       required>
                                <div class="caret"></div>
                            </div>
                            <ul class="menu">
                                <li>Masculino</li>
                                <li>Femenino</li>
                                <li>No binario</li>
                                <li>Otro</li>
                            </ul>
                        </div>

                        <div class="dato-editable">
                            <span class="dato-campo">Provincia</span>
                            <input type="text" class="dato-input" th:field="*{city}" autocomplete="off" required>
                        </div>

                        <div class="dato-editable how-meet">
                            <span class="dato-campo">¿Cómo conoció al semillero?</span>
                            <div class="select">
                                <!-- <input type="text" class="dato-input" th:field="*{meetSemilleroBy}" autocomplete="off" required value="LinkedIn"> -->
                                <input type="text" class="dato-input desplegable selected" th:field="*{meetSemilleroBy}"
                                       readonly required>
                                <div class="caret"></div>
                            </div>
                            <ul class="menu">
                                <li>Redes sociales</li>
                                <li>Por recomendación</li>
                                <li>Publicidad</li>
                                <li>Otro</li>
                            </ul>
                        </div>
                    </div>

                    <!-- right -->
                    <div class="tab-right">
                        <div class="dato-editable">
                            <span class="dato-campo" title="SIN ESPACIOS NI LETRAS">DNI / Pasaporte</span>
                            <input type="text" class="dato-input" th:field="*{dni}" pattern="[0-9+]+" autocomplete="off"
                                   title="SIN ESPACIOS NI LETRAS" required>
                        </div>

                        <div class="dato-editable">
                            <span class="dato-campo">Marca Temporal</span>
                            <input type="hidden" id="postulation-dateTime-input-behind"
                                   th:field="*{postulationDate}"/>
                            <input type="datetime-local" class="dato-input" id="postulation-dateTime-input"
                                   th:value="${#temporals.format(seedDTO.postulationDate, 'yyyy-MM-dd HH:mm')}"
                                   autocomplete="off" required/>
                        </div>

                        <div class="dato-editable">
                            <span class="dato-campo">País</span>
                            <input type="text" class="dato-input" th:field="*{country}" autocomplete="off" required>
                        </div>

                        <div class="dato-editable">
                            <span class="dato-campo">Otros estudios</span>
                            <input type="text" class="dato-input" th:field="*{studies}" autocomplete="off" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tab datos de contacto -->
            <input type="radio" class="radio-chip" name="tabs" id="tabdatosdecontacto">
            <label for="tabdatosdecontacto" class="label-chip">
                <span class="material-symbols-outlined">mail</span>
                <span class="titulo-chip">Datos de contacto</span>
            </label>
            <div class="tab tab-datos-de-contacto">
                <!-- columns -->
                <div class="tab-columns">
                    <!-- left -->
                    <div class="tab-left">
                        <div class="dato-editable">
                            <span class="dato-campo" title="SIN ESPACIOS NI LETRAS">Teléfono</span>
                            <input type="text" class="dato-input" th:field="*{telephone}" pattern="[0-9+]+"
                                   autocomplete="off" title="SIN ESPACIOS NI LETRAS" required>
                        </div>

                        <div class="dato-editable">
                            <span class="dato-campo">Discord</span>
                            <input type="text" class="dato-input" th:field="*{discordUser}" autocomplete="off" required>
                        </div>
                    </div>

                    <!-- right -->
                    <div class="tab-right">
                        <div class="dato-editable">
                            <span class="dato-campo">Correo electrónico</span>
                            <input type="email" class="dato-input" th:field="*{email}" autocomplete="off" required>
                        </div>

                        <div class="dato-editable">
                            <span class="dato-campo">LinkedIn</span>
                            <input type="text" class="dato-input" th:field="*{linkedin}" autocomplete="off" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tab modificar rol -->
            <input type="radio" class="radio-chip" name="tabs" id="tabmodificarrol">
            <label for="tabmodificarrol" class="label-chip">
                <span class="material-symbols-outlined">desktop_windows</span>
                <span class="titulo-chip">Modificar Rol</span>
            </label>
            <div class="tab tab-modificar-rol">
                <span class="editando-titulo">Roles</span>

                <div class="form-radio">
                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="back" name="rol" value="Backend"
                               th:checked="${seedDTO.rol == 'Backend'}">
                        <label for="back" class="label-editando">Backend</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="front" name="rol" value="Frontend"
                               th:checked="${seedDTO.rol == 'Frontend'}">
                        <label for="front" class="label-editando">Frontend</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="uxui" name="rol" value="UX/UI/IxD"
                               th:checked="${seedDTO.rol == 'UX/UI/IxD'}">
                        <label for="uxui" class="label-editando">UX/UI/IxD</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="scrum" name="rol" value="Scrum"
                               th:checked="${seedDTO.rol == 'Scrum'}">
                        <label for="scrum" class="label-editando">Scrum</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="qa" name="rol" value="QA"
                               th:checked="${seedDTO.rol == 'QA'}">
                        <label for="qa" class="label-editando">QA</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="analista" name="rol" value="Analista"
                               th:checked="${seedDTO.rol == 'Analista'}">
                        <label for="analista" class="label-editando">Analista</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="infraestructura"
                               name="rol" value="Infraestructura"
                               th:checked="${seedDTO.rol == 'Infraestructura'}">
                        <label for="infraestructura" class="label-editando">Infraestructura</label>
                    </div>
                </div>
            </div>

            <!-- tab modificar turno -->
            <input type="radio" class="radio-chip" name="tabs" id="tabmodificarturno">
            <label for="tabmodificarturno" class="label-chip">
                <span class="material-symbols-outlined">schedule</span>
                <span class="titulo-chip">Modificar Turno</span>
            </label>
            <div class="tab tab-asignar-proyecto">
                <span class="editando-titulo">Turnos</span>

                <div class="form-radio">
                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="morning" name="turn" value="Mañana"
                               th:checked="${seedDTO.turn == 'Mañana'}">
                        <label for="morning" class="label-editando">Mañana</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="afternoon" name="turn" value="Tarde"
                               th:checked="${seedDTO.turn == 'Tarde'}">
                        <label for="afternoon" class="label-editando">Tarde</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="night" name="turn" value="Noche"
                               th:checked="${seedDTO.turn == 'Noche'}">
                        <label for="night" class="label-editando">Noche</label>
                    </div>

                    <div class="rol-option">
                        <input type="radio" class="radio-editando" id="any" name="turn" value="3 turnos"
                               th:checked="${seedDTO.turn == '3 turnos'}">
                        <label for="any" class="label-editando">3 turnos</label>
                    </div>
                </div>
            </div>

            <!-- tab modificar estado -->
            <input type="radio" class="radio-chip" name="tabs" id="tabmodificarestado">
            <label for="tabmodificarestado" class="label-chip">
                <span class="material-symbols-outlined">manage_accounts</span>
                <span class="titulo-chip">Modificar estado</span>
            </label>

            <div class="tab tab-modificar-estado">
                <div class="estados-container">
                    <ul class="estados">
                        <li class="caret-down"><span style="width: 22.35ch;"
                                                     class="caret-down">Estado de la Semilla</span>
                            <ul>
                                <li><span class="caret-right">Activa</span>
                                    <ul>
                                        <li><span class="largo border-left" onclick="editStatus(0)">En espera de Proyecto</span>
                                        <li><span class="largo border-left"
                                                  onclick="editStatus(1)">Asignada a Proyecto</span>
                                        <li><span class="largo border-left" onclick="editStatus(2)">No disponible temporalmente</span>
                                    </ul>
                                </li>
                                <li><span class="caret-right">Inactiva</span>
                                    <ul>
                                        <li><span class="caret-right border-left">Consiguió trabajo</span>
                                            <ul>
                                                <li><span class="caret-right border-left">¿Empleo en IT?</span>
                                                    <ul>
                                                        <li><span class="caret-right border-left">Si</span>
                                                            <ul>
                                                                <li><span class="border-left" onclick="editStatus(3)">Pasó a Quinto</span>
                                                                </li>
                                                                <li><span class="border-left" onclick="editStatus(4)">Otra empresa</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><span class="border-left" onclick="editStatus(5)">No</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><span class="border-left" onclick="editStatus(6)">Abandonó</span></li>
                                    </ul>
                                </li>
                                <li><span onclick="editStatus(7)">Finalizó Proyecto</span></li>
                                <li><span onclick="editStatus(8)">Redefinir</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <input id="real-input-primary" type="text" th:field="*{primary}" style="display: none;">
                <input id="real-input-secondary" type="text" th:field="*{secondary}" style="display: none;">

                <div id="input-modified-status-container" class="basic-actual basic-estado">
                    <input id="input-modified-status" type="text" name="state" class="input-estado"
                           th:value="${seedDTO.secondary == null || seedDTO.secondary == ''
                           ? seedDTO.primary : seedDTO.primary + ' - ' + seedDTO.secondary}"
                           readonly
                           th:classappend="${seedDTO.secondary.toUpperCase() == 'EN ESPERA DE PROYECTO' ||
                           seedDTO.secondary.toUpperCase() == 'ASIGNADA A PROYECTO' ||
                           seedDTO.secondary.toUpperCase() == 'NO DISPONIBLE TEMPORALMENTE'
                           ? 'green' : (seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO - NO EN IT' ||
                           seedDTO.secondary.toUpperCase() == 'ABANDONÓ'
                           ? 'red' : (seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO EN IT - PASÓ A QUINTO' ||
                           seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO EN IT - OTRA EMPRESA' ||
                           seedDTO.primary.toUpperCase() == 'FINALIZÓ PROYECTO'
                           ? 'blue' : 'black'))}">
                </div>

                <!-- NO HAY BOX: consiguió trabajo SI en IT pasó a quinto // asignada a proyecto // en espera de proyecto -->

                <!-- SI VA BOX: no disponible temporalmente // consiguió trabajo NO en IT // abandonó // finalizó prpyecto // redefinir -->
                <div id="box-status-comments" class="comentario-estado"
                     th:style="${seedDTO.secondary.toUpperCase() == 'NO DISPONIBLE TEMPORALMENTE' ||
                                seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO - NO EN IT' ||
                                seedDTO.secondary.toUpperCase() == 'ABANDONÓ' ||
                                seedDTO.primary.toUpperCase() == 'FINALIZÓ PROYECTO' ||
                                seedDTO.primary.toUpperCase() == 'REDEFINIR'
                                ? 'display: flex' : 'display: none'}">
                    <span>Comentarios del Estado actual de la Semilla</span>
                    <input type="text" id="input-comentario-estado" autocomplete="off" placeholder="Agregar comentario (opcional)" th:value="*{companyName}">
                </div>

                <!-- BOX CON TITULO DIFERENTE: consiguió trabajo SI en IT en otra empresa -->
                <div id="box-enterprise-name" class="comentario-estado"
                     th:style="${seedDTO.secondary.toUpperCase() == 'CONSIGUIÓ TRABAJO EN IT - OTRA EMPRESA'
                                ? 'display: flex' : 'display: none'}">
                    <span>Nombre de la empresa</span>
                    <input type="text" id="input-empresa-estado" autocomplete="off" placeholder="(opcional)" th:value="*{companyName}">
                </div>
                <input type="text" id="realCompanyNameInput" th:field="*{companyName}" style="display: none;">
            </div>

            <!-- tab asignar proyecto -->
            <input type="radio" class="radio-chip" name="tabs" id="tabasignarproyecto">
            <label for="tabasignarproyecto" class="label-chip">
                <span class="material-symbols-outlined">assignment_add</span>
                <span class="titulo-chip">Asignar Proyecto</span>
            </label>
            <div class="tab tab-asignar-proyecto">
                <span class="editando-titulo">Proyectos disponibles</span>
                <input type="text" style="display: none" th:field="*{projectName}">
                <input type="text" style="display: none" th:field="*{projectId}">

                <div class="form-radio">
                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="sigis" name="proyecto">
                        <label for="sigis" class="label-editando">SIGIS</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="metabici" name="proyecto">
                        <label for="metabici" class="label-editando">Meta Bici</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="chakruk" name="proyecto">
                        <label for="chakruk" class="label-editando">Chakruk</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="torneoleones" name="proyecto">
                        <label for="torneoleones" class="label-editando">Torneo Leones</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="stopinmza" name="proyecto">
                        <label for="stopinmza" class="label-editando">Stopin Mza</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="somosmoksa" name="proyecto">
                        <label for="somosmoksa" class="label-editando">Somos Moksa</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="ptoorganico" name="proyecto">
                        <label for="ptoorganico" class="label-editando">Pto Orgánico</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="elafar" name="proyecto">
                        <label for="elafar" class="label-editando">El Afar</label>
                    </div>

                    <div class="rol-option">
                        <input type="checkbox" class="checkbox-editando" id="munibolsait" name="proyecto">
                        <label for="munibolsait" class="label-editando">Muni Bolsa IT</label>
                    </div>
                </div>
            </div>

            <!-- tab certificado -->
            <input type="radio" class="radio-chip" name="tabs" id="tabcertificado">
            <label for="tabcertificado" class="label-chip">
                <span class="material-symbols-outlined">workspace_premium</span>
                <span class="titulo-chip">Certificado</span>
            </label>
            <div class="tab tab-certificado">
                <span class="editando-titulo">Certificado de participación</span>

                <div class="form-radio">
                    <th:block th:if="${seedDTO.certificationString == null || seedDTO.certificationString == ''}">
                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="certificado-si" name="certificationString"
                                   value="Enviado">
                            <label for="certificado-si" class="label-editando">Enviado</label>
                        </div>

                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="certificado-no" name="certificationString"
                                   value="No enviado" checked>
                            <label for="certificado-no" class="label-editando">No enviado</label>
                        </div>
                    </th:block>
                    <th:block th:unless="${seedDTO.certificationString == null || seedDTO.certificationString == ''}">
                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="certificado-si" name="certificationString"
                                   value="Enviado"
                                   th:checked="${seedDTO.certificationString.toUpperCase() == 'ENVIADO'}">
                            <label for="certificado-si" class="label-editando">Enviado</label>
                        </div>

                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="certificado-no" name="certificationString"
                                   value="No enviado"
                                   th:checked="${seedDTO.certificationString.toUpperCase() == 'NO ENVIADO'}">
                            <label for="certificado-no" class="label-editando">No enviado</label>
                        </div>
                    </th:block>
                </div>
            </div>

            <!-- tab recomendada -->
            <input type="radio" class="radio-chip" name="tabs" id="tabrecomendada">
            <label for="tabrecomendada" class="label-chip">
                <span class="material-symbols-outlined">star</span>
                <span class="titulo-chip">Recomendada</span>
            </label>
            <!-- para editar -->
            <div class="tab tab-recomendada">
                <span class="editando-titulo">¿Semilla recomendada?</span>

                <div class="form-radio">
                    <th:block th:if="${seedDTO.recommendationString == null || seedDTO.recommendationString == ''}">
                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="recomendada-si" name="recommendationString"
                                   value="Si">
                            <label for="recomendada-si" class="label-editando">Si</label>
                        </div>

                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="recomendada-no" name="recommendationString"
                                   value="No">
                            <label for="recomendada-no" class="label-editando">No</label>
                        </div>
                    </th:block>
                    <th:block th:unless="${seedDTO.recommendationString == null || seedDTO.recommendationString == ''}">
                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="recomendada-si" name="recommendationString"
                                   value="Si"
                                   th:checked="${seedDTO.recommendationString.toUpperCase() == 'SI'}">
                            <label for="recomendada-si" class="label-editando">Si</label>
                        </div>

                        <div class="rol-option">
                            <input type="radio" class="radio-editando" id="recomendada-no" name="recommendationString"
                                   value="No"
                                   th:checked="${seedDTO.recommendationString.toUpperCase() == 'NO'}">
                            <label for="recomendada-no" class="label-editando">No</label>
                        </div>
                    </th:block>
                </div>

                <div class="nota-recomendada">
                    <span title="NOTA OBLIGATORIA">¿Cómo fue el desempeño de la Semilla?</span>
                    <input type="text" id="nota-recomendada" autocomplete="off" placeholder="Agregar nota (opcional)"
                           th:field="*{recommendationComment}">
                </div>
            </div>
            <!-- no editable -->
            <!-- <div class="tab tab-recomendada">
              <div class="basic-actual">
                <span class="basic-valor"
                      th:if="${seedDTO.recommendationString == null ||
                      seedDTO.recommendationString == ''}">Sin especificar</span>
                <th:block th:if="${seedDTO.recommendationString != null ||
                      seedDTO.recommendationString != ''}">
                    <span class="basic-valor si"
                          th:if="${seedDTO.recommendationString.toUpperCase() == 'SI'}">Semilla recomendada</span>
                    <span class="basic-valor no"
                          th:if="${seedDTO.recommendationString.toUpperCase() == 'NO'}">Semilla no recomendada</span>
                </th:block>
              </div>

              <div class="nota-recomendada">
                <span>¿Cómo fue el desempeño de la Semilla?</span>
                <p th:field="*{recommendationComment}"></p>
              </div>
            </div> -->
        </div>

        <!-- buttons edition control -->
        <div class="form-send">
            <a th:href="@{/seed/item/{id}(id=${id})}" class="cancel">Cancelar</a>
            <button form="form-all-items" type="submit"
                    title="Observaciones generales también se van a guardar" class="guardar">
                Guardar cambios
            </button>
        </div>
    </form>
</main>

<div style="height: 20vh;"></div>

<!-- SCRIPTS -->
<script src="/js/loading.js"></script>
<!-- <script src="../../static/js/loading.js"></script> -->
<script src="/js/semilla.js"></script>
<!-- <script src="../../static/js/semilla.js"></script> -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>
<script type="module" src="https://unpkg.com/@material-tailwind/html@latest/scripts/popover.js"></script>
<!-- <script th:inline="javascript">
  let seed = [[${seed}]];
  console.log(seed)
</script> -->
</body>
</html>