<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- TITLE -->
    <title>Evento | Semillero</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/img/logo.png"/>

    <!-- MATERIAL TAILWIND -->
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"/>

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/loading.css"/>
    <!-- <link rel="stylesheet" href="../../static/css/loading.css" /> -->
    <link href="/css/nav-static.css" rel="stylesheet"/>
    <!-- <link href="../../static/css/nav-static.css" rel="stylesheet" /> -->
    <link href="/css/evento.css" rel="stylesheet"/>
    <!-- <link href="../../static/css/evento.css" rel="stylesheet" /> -->

    <!-- GOOGLE ICONS -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<body>
<div th:replace="fragments/loading :: loader"></div>
<nav th:replace="fragments/nav :: _nav"></nav>

<main id="main-event-container-js" th:object="${event}" th:data-id="${event.id}">
    <!-- ALERTAS -->
    <!-- eliminado -->
    <div th:replace="fragments/alerts/event-delete-success :: event-delete-success"></div>
    <div th:replace="fragments/alerts/event-delete-warn :: event-delete-warn"></div>

    <!-- Asistentes -->
    <div th:replace="fragments/alerts/import-success :: import-success"></div>
    <div th:replace="fragments/alerts/event-attendance-error :: event-attendance-error"></div>

    <h2>Vista individual de Evento</h2>

    <!--<a th:href="@{/event/list}" class="volver">
        <span class="material-symbols-outlined">arrow_back</span>
        <span>Volver</span>
    </a>-->
    <!--<button class="volver" onclick="goBack()">
        <span class="material-symbols-outlined">arrow_back</span>
        <span>Volver</span>
    </button>-->

    <div class="eventos-actions">
        <!-- <a href="https://drive.google.com/uc?export=download&id=1UEvClspoRwfhpK5sV31RhniYKjuUAL9Z">
            <button class="descargar-plantilla">
                <span class="material-symbols-outlined">download</span>
                Descargar plantilla
            </button>
        </a> -->

        <a th:href="@{/event/create-event}" class="crear-nuevo-evento">
            <span class="material-symbols-outlined">add_circle</span>
            Crear nuevo Evento
        </a>
    </div>

    <!-- CLASES COLORES -->
    <!-- bgc-f | text-f -->
    <!-- bgc-i | text-i -->
    <!-- bgc-s | text-s -->
    <div class="evento-title"
         th:classappend="${#strings.equalsIgnoreCase(event.approach,'Formación')
         ? 'bgc-f text-f' :(#strings.equalsIgnoreCase(event.approach,'Integración Social')
         ? 'bgc-i text-i' : 'bgc-s text-s')}"
         th:text="${event.date.year} + ' | ' + ${#temporals.monthName(event.date)}"></div>

    <div class="evento-container">
        <div class="evento-head"
             th:classappend="${#strings.equalsIgnoreCase(event.approach,'Formación')
         ? 'bgc-f text-f' :(#strings.equalsIgnoreCase(event.approach,'Integración Social')
         ? 'bgc-i text-i' : 'bgc-s text-s')}">
            <!--<img th:src="'/img/' + *{image}" alt="imagen evento">-->
            <!-- <img src="../../static/img/evento-imagen-ejemplo.png" alt="imagen evento"> -->
            <img th:unless="${#strings.isEmpty(event.base64)}" src="data:image/jpeg;base64,"
                 th:attrappend="src=${event.base64}" alt="Imagen evento"/>
            <span th:if="${#strings.isEmpty(event.base64)}" title="SIN IMAGEN CARGADA"
                  style="cursor:default;user-select:none;">ㅤ</span>

            <button data-ripple-light="true"
                    data-popover-target="popover-bottom-end" class="options material-symbols-outlined">more_vert
            </button>
            <div data-popover="popover-bottom-end" data-popover-placement="bottom-end" class="options-box w-max">
                <a th:href="@{/event/edit-event/{id}(id=${event.id})}">
                    <button>Editar</button>
                </a>
                <a onclick="handleWarn()">
                    <button>Eliminar</button>
                </a>
            </div>
        </div>

        <div class="evento-data">
            <div class="data-top">
                <span class="top-title">Título: </span>
                <span class="medium" th:text="*{title}"
                      th:classappend="${#strings.equalsIgnoreCase(event.approach,'Formación')
                      ? 'text-f' :(#strings.equalsIgnoreCase(event.approach,'Integración Social')
                      ? 'text-i' : 'text-s')}"
                ></span>
            </div>

            <div class="data-mid">
                <div class="wrap-container">
                    <div class="wrap">
                        <span class="campo">Fecha:</span>
                        <span class="dat"
                              th:text="${#temporals.format(event.date, 'dd/MM/yyyy')}"></span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Horario:</span>
                        <span class="dat" th:text="*{startTime + ' - ' + endingTime}"></span>
                    </div>
                </div>

                <div class="wrap-container">
                    <div class="wrap">
                        <span class="campo">Estado:</span>
                        <!-- clases colores: planificado-confirmado-terminado-pospuesto -->
                        <span class="estado" th:text="*{status}"
                              th:classappend="${#strings.equalsIgnoreCase(event.status,'Planificado')
                              ? 'planificado' :(#strings.equalsIgnoreCase(event.status,'Confirmado')
                              ? 'confirmado' :(#strings.equalsIgnoreCase(event.status,'Terminado')
                              ? 'terminado' : 'pospuesto'))}"></span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Instructor:</span>
                        <span class="dat" th:text="*{instructor}"></span>
                    </div>
                </div>

                <div class="wrap-container">
                    <div class="wrap">
                        <span class="campo" th:if="*{offeredBySemillero}">Facilitado por Semillero</span>
                        <span class="campo" th:unless="*{offeredBySemillero}">Facilitado por Terceros</span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Organizador:</span>
                        <span class="dat" th:text="*{organizedBy}"></span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Enfoque:</span>
                        <span class="enfoque roboto" th:text="*{approach}"
                              th:classappend="${#strings.equalsIgnoreCase(event.approach, 'Formación')
                              ? 'text-f medium' : (#strings.equalsIgnoreCase(event.approach,'Integración Social')
                              ? 'text-i medium' : 'text-s medium')}">
                        </span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Tipo:</span>
                        <span class="dat" th:text="*{type}"></span>
                    </div>
                </div>

                <div class="wrap-container">
                    <div class="wrap">
                        <span class="campo">Origen:</span>
                        <span class="dat" th:text="*{origin}"></span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Destinatarios:</span>
                        <span class="dat" th:text="*{destination}"></span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Modalidad:</span>
                        <span class="dat" th:text="*{modality}"></span>
                    </div>
                    <div class="wrap" th:if="${!#strings.equalsIgnoreCase(event.modality,'ONLINE')}">
                        <span class="campo">Ubicación:</span>
                        <span class="dat"
                              th:text="${#strings.isEmpty(event.location)
                              ? 'Por definir...' : event.location}"></span>
                    </div>
                </div>
            </div>

            <div class="data-bot">
                <div class="wrap-container">
                    <div class="not-wrap" th:unless="${#strings.isEmpty(event.description)}">
                        <span class="campo" th:classappend="${#strings.equalsIgnoreCase(event.approach, 'Formación')
                              ? 'text-f' : (#strings.equalsIgnoreCase(event.approach,'Integración Social')
                              ? 'text-i' : 'text-s')}">Descripción del Evento:</span> 
                        <span class="dat" th:text="*{description}"></span>
                    </div>
                    <div class="wrap">
                        <span class="campo">Duración:</span>
                        <span class="dat" th:text="*{duration + ' minutos'}"></span>
                    </div>
                    <div class="wrap" th:if="${event.totalAttendance > 0}">
                        <span class="campo">Asistentes:</span>
                        <span class="dat" th:text="*{totalAttendance}"></span>
                    </div>
                </div>
                <a th:href="@{/attendance-list/list/{id}(id=${id})}" class="see-attendance"
                   th:if="${event.totalAttendance > 0}">
                    <button>Visualizar Asistentes</button>
                </a>
            </div>
        </div>
    </div>
    <div class="import-attendance-actions" th:unless="${event.totalAttendance > 0}">

        <label for="importarAsistentesArchivo">
            <span class="material-symbols-outlined">upload_file</span>
            Importar Asistentes
        </label>
        <input id="importarAsistentesArchivo" type="file"
               accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               style="display: none;">
        <a th:href="@{/attendance-list/sheet}">
            <button class="download-attendance">
                <span class="material-symbols-outlined">download</span>
                Descargar plantilla Asistentes
            </button>
        </a>
    </div>
</main>

<div style="height: 10vh;"></div>

<!-- SCRIPTS -->
<script src="/js/loading.js"></script>
<!-- <script src="../../static/js/loading.js"></script> -->
<script src="/js/evento.js"></script>
<!-- <script src="../../static/js/evento.js"></script> -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>
<script type="module" src="https://unpkg.com/@material-tailwind/html@latest/scripts/popover.js"></script>
<script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>
</body>
</html>