<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Semillas</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/img/logo.png" />

    <!-- STYLES -->
    <!-- <link href="/css/semillas.css" rel="stylesheet" /> -->
    <link href="../../static/css/semillas.css" rel="stylesheet" />
  </head>

<body>
  <header>
    <nav th:replace=" components/header :: _header"></nav>

</header>
  
  
  <!-- SCRIPTS -->
  <script src="/js/script.js"></script>
  <!-- <script src="../../static/js/script.js"></script> -->
  <script type="module" src="https://unpkg.com/@material-tailwind/html@latest/scripts/popover.js"></script>

  <!-- GUIA PARA APLICAR THYMELEAF EN VARIABLES JS: https://stackoverflow.com/questions/25687816/setting-up-a-javascript-variable-from-spring-model-by-using-thymeleaf -->
  <script th:inline="javascript">
    let seeds = [[${seeds}]];
    console.log(seeds)
  </script>
  
</body>
</html>