/* NAV ITEMS */
.item-inicio,
.item-semillas,
.item-proyectos {
    color: var(--blanco1);
    font-size: 1rem;
}

.item-inicio:hover,
.item-semillas:hover,
.item-proyectos:hover {
    border-bottom: 2px solid var(--blanco1);
    margin-bottom: -2px;
}

.item-eventos {
    color: var(--blanco1);
    font-weight: 600;
    border-bottom: 2px solid var(--blanco1);
    margin-bottom: -2px;
}
main {
    display: relative;
    width: 85%;
    margin: 4rem auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.volver {
    margin-right: auto;
    display: flex;
    align-items: center;
    color: var(--verde-oscuro);
}

.volver span:nth-child(2) {
    margin-left: 8px;
    font-weight: 400;
    line-height: 23px;
}

.volver:hover {
    color: var(--gris);
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 34.25px;
    letter-spacing: 0.5%;
    color: var(--negro);
}

.evento-asistentes {
	width: 60%;
    background-color: var(--blanco1);
    margin: 2.5rem auto 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(23, 23, 23, 0.15);
    font-size: 18px;
    line-height: 23px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.evento-asistentes .dato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.evento-asistentes .dato .campo {
    color: var(--negro);
}

.evento-asistentes .dato .valor {
    color: var(--gris-oscuro);
    font-weight: 500;
}

.asistentes-actions {
	width: 60%;
	display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.asistentes-actions a {
	display: flex;
    justify-content: center;
    align-items: center;
    
	width: 325px;
    height: 40px;
    border: 1px solid var(--verde-oscuro);
    border-radius: 100px;
    background: transparent;
    color: var(--verde-oscuro);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 150ms;
    user-select: none;
}

.asistentes-actions .descargar-asistentes {
	color: var(--blanco1);
    background: var(--verde-oscuro);
}

.descargar-asistentes:hover {
    border: 1px solid var(--verde-claro);
    background: var(--verde-claro);
    box-shadow: 0px 1px 4px 0px rgba(18, 18, 18, 0.4);
}

.descargar-plantilla:hover {
	border: 1px solid var(--verde-claro);
    color: var(--verde-claro);
    background: transparent;
    box-shadow: 0px 1px 4px 0px rgba(18, 18, 18, 0.4);
}

table {
    position: relative;
    min-width: 60%;
    border-radius: 16px;
}

thead {
    background: var(--gris-oscuro);
    color: var(--gris-claro);
    border-radius: 16px 16px 0px 0px;
    user-select: none;
}

th, td {
    margin: auto;
    text-align: left;
}

th {
    padding: 1rem;
    font-weight: 500;
    font-size: 20px;
}

th:first-child {
    border-radius: 16px 0px 0px 0px;
}

th:last-child {
    border-radius: 0px 16px 0px 0px;
}

tbody tr {
    background: transparent;
    color: var(--negro);
}

tbody tr:hover {
    background-color: var(--gris-claro);
}

tbody td {
    padding: 1rem;
    border-bottom: 1px solid var(--verde-oscuro);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

tfoot td.total-asistentes {
    padding: .6rem 2rem;
    color: var(--negro);
    font-size: 20px;
    text-align: end;
}