/* NAV ITEMS */
.item-inicio,
.item-semillas,
.item-proyectos {
    color: var(--blanco1);
    font-size: 1rem;
}

.item-inicio:hover,
.item-semillas:hover,
.item-proyectos:hover {
    border-bottom: 2px solid var(--blanco1);
    margin-bottom: -2px;
}

.item-eventos {
    color: var(--blanco1);
    font-weight: 600;
    border-bottom: 2px solid var(--blanco1);
    margin-bottom: -2px;
}

main {
    /* border: 1px solid red; */
    margin: 3rem 4rem 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

/* ALERTAS */
.cambios-exito-container,
.cambios-error-container {
    display: none;
}

.cambios-exito-container.active,
.cambios-error-container.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.cambios-exito-box,
.cambios-error-box {
    width: 504px;
    /* height: 156px; */
    padding: 2rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 32px;
    background: var(--blanco1);
    color: var(--verde-oscuro);
    box-shadow: 0px 4px 4px rgba(23, 23, 23, 0.15);
    border-radius: 16px;
    user-select: none;
}

/* END ALERTAS */

.volver {
    margin-right: auto;
    display: flex;
    align-items: center;
    color: var(--verde-oscuro);
}

.volver span:nth-child(2) {
    margin-left: 8px;
    font-weight: 400;
    line-height: 23px;
}

.volver:hover {
    color: var(--gris);
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 .5rem;
    border-left: 3px solid var(--naranja-oscuro);
    border-right: 3px solid var(--naranja-oscuro);
    text-align: center;
    margin-bottom: 1rem;
}

.editar-evento-container {
    background: var(--blanco1);
    padding: 2.5rem 5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(23, 23, 23, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

form {
    /* border: 1px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
}

form input, textarea {
    border: 1px solid var(--gris-oscuro);
    width: 500px;
    padding: 12px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    user-select: none;
}

form input {
    height: 40px;
}

/*form input:focus, form textarea:focus {
	border: 1px solid var(--verde-claro);
}*/

/* form input:invalid {
  border: 1px solid var(--rojo);
  animation: shake 150ms 2;
}

@keyframes shake {
	0%, 100% {translate: 0;}
	25% {translate: 0.120rem;}
	75% {translate: -0.120rem;}
} */

form input.desplegable {
    border: none;
    cursor: pointer;
}

form input.desplegable::placeholder {
	color: var(--gris-oscuro);
}
*::placeholder {
	color: var(--gris-oscuro);
}

form textarea {
    resize: vertical;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-left .option,
.form-right .option {
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-left .campo,
.form-right .campo {
    margin-right: auto;
    margin-bottom: .2rem;
    font-size: .8rem;
    color: var(--verde-oscuro);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    user-select: none;
}

.form-left .campo::after,
.form-right .campo::after {
    content: ' *';
    color: var(--rojo);
}

.form-left .opcional::after {
    content: '';
}

/* input fecha */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 7px;
    filter: opacity(0.7);
    cursor: pointer;
}

/* desplegables */
.select {
    position: relative;
    border: 1px solid var(--gris-oscuro);
    width: 500px;
    height: 40px;
    /* padding: 12px; */
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    /* user-select: none; */
    transition: all 200ms;
}

.select-clicked {
	/*border: 1px solid var(--verde-claro);*/
    border-radius: 8px 8px 0 0;
}

.caret {
    position: absolute;
    right: 10px;
    bottom: 15px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid var(--gris-oscuro);
    cursor: pointer;
    transition: all 200ms;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    width: 100%;
    background: var(--blanco1);
    border: 1px solid var(--gris-oscuro);
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: var(--negro);
    opacity: 0;
    display: none;
    transition: all 200ms;
}

.menu li {
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.menu li:last-child {
    border-radius: 0 0 8px 8px;
}

.menu li:hover {
    background: var(--gris-claro);
}

.active {
    color: var(--verde-claro);
}

.menu-open {
    display: block;
    opacity: 1;
}

.imagen {
    /* border: 1px solid red; */
    position: relative;
    margin-top: 1.4rem;
    margin-left: auto;
    width: 250px;
    border-radius: 10px;
}

.imagen .cargar-imagen {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    /* margin-top: 1rem; */
    border: 1px solid var(--verde-oscuro);
    border-radius: 100px;
    background: var(--blanco1);
    color: var(--verde-oscuro);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 200ms;
    user-select: none;
    cursor: pointer;
}

.imagen .cargar-imagen:hover {
    border: 1px solid #526C43;
    color: #526C43;
}

.imagen img {
    border-radius: 10px;
}

.imagen .img-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background: #EEEDED;
    border-radius: 0 0 10px 10px;
    opacity: .8;
}

.imagen .img-footer .eliminar-imagen {
    width: 25px;
    height: 25px;
}

.imagen .img-footer .editar-imagen {
    width: 25px;
    height: 25px;
}

.form-send {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.form-send button, .form-send .cancel {
    width: 250px;
    height: 40px;
    border: 1px solid var(--verde-oscuro);
    border-radius: 100px;
    background: transparent;
    color: var(--verde-oscuro);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 150ms;
    user-select: none;
}

.form-send button:hover, .form-send .cancel {
    border: 1px solid var(--verde-oscuro);
    color: var(--verde-oscuro);
}

.form-send .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-send .cancel:hover {
	border: 1px solid var(--verde-claro);
    color: var(--verde-claro);
    background: transparent;
    box-shadow: 0px 1px 4px 0px rgba(18, 18, 18, 0.4);
}

.form-send button.guardar {
    background-color: var(--verde-oscuro);
    color: var(--blanco1);
}

.form-send button.guardar:hover {
    border: 1px solid var(--verde-claro);
    background: var(--verde-claro);
    box-shadow: 0px 1px 4px 0px rgba(18, 18, 18, 0.4);
}