@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* En caso de que haya algun problema con las direcciones de ubicación de las imágenes, también van a estar subidas virtualmente para copiar y pegar link.
Link: https://imgur.com/a/6tV4pCo */

:root {
	--blanco1: #FAFAFA;
	--blanco2: #F5F8F5;
	--gris: #9D9E9E;
	--gris-claro: #EEEDED;
	--gris-oscuro: #676767;
	--negro: #171717;
	--verde-claro: #4CAF44;
	--verde-oscuro: #395727;
	--verde-fondo: #F1FCEA;
	--naranja: #FFAF03;
	--naranja-oscuro: #DE9800;
  --azul: #1d3daf;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

img {
	user-select: none;
}

a {
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

/*.nav{
    position: absolute;
width: 1440px;
height: 88px;
left: 0px;
top: 0px;



background: #F1FCEA;
}
.img_navbar{
    position: absolute;
width: 192px;
height: 48px;
left: calc(50% - 192px/2 - 520px);
top: 20px;
}
.nombre_navbar{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 107.03%;
/* or 21px 

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.005em;

color: #395727;
}
*/

.marca {
  position: absolute;
  width: 350px;
  left: calc(50% - 296px / 2);
  top: 48px;
}

.user {
  position: absolute;
  right: 176px;
  top: 115px;
  bottom: 0%;
  width: 48px;
  height: 48px;
  background: #1d3daf;
  border-radius: 25px;
}

.articulos {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 400px;
  height: 488px;
  margin-top: 328px;
  margin-bottom: 208px;
  margin-left: 20px;
}

.semillas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 400px;
  height: 488px;
  margin-left: 104px;

  background: linear-gradient(0deg, rgba(23, 23, 23, 0.2), rgba(23, 23, 23, 0.2)), var(--naranja);
  border-radius: 16px;
  margin: 10px;
  transition: 0s;
}

.semillas:hover {
  background: url(../img/recurso.png) center center/cover no-repeat;
  background-color: var(--gris);
}

.aliados {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 400px;
  height: 488px;
  left: calc(50% - 400px / 2);
  top: 328px;

  background: linear-gradient(
      0deg,
      rgba(23, 23, 23, 0.2),
      rgba(23, 23, 23, 0.2)
    ), var(--verde-oscuro);
  border-radius: 16px;
  margin: 10px;
  transition: 0s;
}

.aliados:hover {
  background: url(../img/recurso.png) center center/cover no-repeat;
  background-color: var(--gris);
}

.eventos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 400px;
  height: 488px;
  left: 936px;
  top: 328px;

  background: linear-gradient(0deg, rgba(23, 23, 23, 0.2), rgba(23, 23, 23, 0.2)), var(--verde-claro);
  border-radius: 16px;
  margin: 10px;
  transition: 0s;
}

.eventos:hover {
  background: url(../img/recurso.png) center center/cover no-repeat;
  background-color: var(--gris);
}

.name {
  width: 169px;
  height: 39px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 107.03%;
  /* identical to box height, or 39px */

  letter-spacing: 0.005em;

  /* Blanco */

  color: var(--blanco1);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
