nav {
  position: static;
  height: 88px;
  background-color: var(--verde-fondo);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 104px;
  padding-right: 328px;
}

.img_logo_nav{
  width: 192px;
  height: 40px;
}

.left_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.links_container a {
  color: var(--verde-oscuro);
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    var(--verde-oscuro) 90%,
    var(--verde-oscuro) 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}

.links_container a:hover{
  background-size: 100% 100%;
  background-position-x: left;
}

.user {
  position: absolute;
  right: 72px;
  margin-right: 5rem;
  user-select: none;
}

.user .avatar {
  width: 3rem;
  height: 3rem;
  background: var(--azul);
  color: var(--blanco1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.user div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user div a {
  color: var(--gris-oscuro);
}

.user div .logout {
  padding: .3rem 1rem;
  border: 1px solid var(--verde-oscuro);
  border-radius: 100px;
  background: transparent;
  color: var(--verde-oscuro);
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

.user div .logout:hover {
  border: 1px solid var(--verde-claro);
  color: var(--verde-claro);
}