/* NAV ITEMS */
.item-inicio,
.item-eventos,
.item-proyectos {
    color: var(--blanco1);
    font-size: 1rem;
}

.item-inicio:hover,
.item-eventos:hover,
.item-proyectos:hover {
    border-bottom: 2px solid var(--blanco1);
    margin-bottom: -2px;
}

.item-semillas {
    color: var(--blanco1);
    font-weight: 600;
    border-bottom: 2px solid var(--blanco1);
    margin-bottom: -2px;
}

main {
    /* border: 1px solid green; */
    display: relative;
    width: 90%;
    margin: 9rem auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ALERTAS */
.importacion-exito-container,
.importacion-error-container {
    display: none;
}

.importacion-exito-container.active,
.importacion-error-container.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.importacion-exito-box,
.importacion-error-box {
    width: 504px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    line-height: 32px;
    background: var(--blanco1);
    color: var(--verde-oscuro);
    box-shadow: 0px 4px 4px rgba(23, 23, 23, 0.15);
    border-radius: 16px;
    user-select: none;
}

/* END ALERTAS */

.titulo-semillas {
    font-weight: 500;
    font-size: 40px;
    color: var(--negro);
    margin-right: auto;
}

.separador {
    width: 100%;
    border: 1px solid var(--verde-oscuro);
}

.volver {
    margin-top: 3rem;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: var(--verde-oscuro);
}

.volver span:nth-child(2) {
    margin-left: 8px;
    font-weight: 400;
    line-height: 23px;
}

.volver:hover {
    color: var(--gris);
}

h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: rgba(57, 87, 39, 1);
    padding: .2rem;
}

.semillas-actions {
    width: 100%;
    margin: 4rem 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.semillas-actions button,
.semillas-actions label,
.left-seeds-action a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1.5rem;
    border: 1px solid var(--verde-oscuro);
    border-radius: 100px;
    background: transparent;
    color: var(--verde-oscuro);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 150ms;
    user-select: none;
    cursor: pointer;
}

.left-seeds-action label,
.left-seeds-action a{
    color: var(--blanco1);
    background: var(--verde-oscuro);
}

.left-seeds-action label:hover,
.left-seeds-action a:hover{
    border: 1px solid var(--verde-claro);
    background: var(--verde-claro);
    box-shadow: 0px 1px 4px 0px rgba(18, 18, 18, 0.4);
}

.semillas-actions .importar-semillas button:hover {
    border: 1px solid var(--verde-claro);
    color: var(--verde-claro);
    box-shadow: 0px 1px 4px 0px rgba(18, 18, 18, 0.4);
}

.left-seeds-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.form-total{
    display: inherit;
    flex-direction: inherit;
}

/* SEARCH BAR */
div.form-search-bar {
    /* border: 1px solid red; */
    margin: 2rem 0 0 auto;
    display: flex;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

.form-search-bar input.busqueda {
    width: 400px;
    padding: 10px;
    border: 1px solid var(--gris);
    border-radius: 8px 0 0 8px;
    background: var(--blanco1);
    color: var(--negro);
    font-size: 1rem;
    outline: none;
}

.form-search-bar input.busqueda::placeholder {
    color: var(--gris-oscuro);
    font-size: 14px;
}

.form-search-bar input.busqueda::-webkit-search-cancel-button {
    border: 1px solid transparent;
    filter: opacity(0.3) grayscale(100%);
    cursor: pointer;
}

.form-search-bar button.buscar {
    padding: 10px;
    background: var(--blanco1);
    color: var(--verde-oscuro);
    border: 1px solid var(--gris);
    border-left: none;
    border-radius: 0 8px 8px 0;
    font-size: 1.6rem;
    user-select: none;
}

section {
    /* border: 1px solid red; */
    width: 90vw;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

/* FILTROS */
.left {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco1);
    color: var(--negro);
    border: 1px solid var(--gris);
    border-radius: 8px;
}

.filtros-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--negro);
    border-bottom: 1px solid var(--gris);
    user-select: none;
}

.filtros-titulo span {
    color: var(--verde-oscuro);
}

.left form.form-filtros {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    width: 100%;
    border-bottom: 1px solid var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option:last-child {
    border: none;
}

.select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: transparent;
    color: var(--negro);
    border-left: 2px solid transparent;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.select:hover {
    background: #1A1A1A05;
}

.desplegable {
    font-family: 'Roboto', sans-serif;
}

.select-clicked {
    background: #1A1A1A05;
    /*border-left: 2px solid var(--naranja);*/
    /*color: var(--naranja-oscuro);*/
    border-left: 2px solid var(--verde-oscuro);
    color: var(--verde-oscuro);
    font-weight: 600;
}

.caret {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid var(--gris-oscuro);
    cursor: pointer;
    transition: all 200ms;
}

.caret-rotate {
    transform: rotate(180deg);
    /* border-top: 7px solid var(--naranja-oscuro); */
}

.menu {
    width: 100%;
    display: none;
    padding: 8px 12px;
}

.menu-open {
    display: block;
}

.filtro {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* gap: .3rem; */
    /* user-select: none; */
}

.filtro input.checkbox-filtro {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* accent-color: var(--verde-oscuro); */
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    border-radius: 50%;
    transition: all 150ms;
}

.filtro input.checkbox-filtro {
    /* puro capricho ésto ¬ */
    padding: .5rem;
}

.filtro input.checkbox-filtro:hover {
    background-color: #4CAF4415;
}

.filtro label.label-filtro {
    font-size: 14px;
    padding-left: .15rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.filtro input.checkbox-filtro::before {
    content: '';
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    visibility: visible;
    border: 2px solid var(--verde-oscuro);
    border-radius: 3px;
    background-color: transparent;
}

.filtro input.checkbox-filtro:checked::before {
    content: url(https://icongr.am/material/check-bold.svg?size=14&color=ffffff);
    padding: 1px 0 0 0;
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    border: 2px solid var(--verde-oscuro);
    border-radius: 3px;
    background-color: var(--verde-oscuro);
}

.both-fecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filtro-asis {
	margin-right: auto;
}

.filtro-fecha,
.filtro-asis {
    position: relative;
    margin: 2rem 0 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    font-family: 'Roboto', sans-serif;
    color: var(--negro);
}

.filtro-asis {
    margin-right: auto;
}

.filtro-fecha .campo,
.filtro-asis .campo {
    position: absolute;
    top: -22px;
    left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--negro);
    user-select: none;
}

.filtro-fecha input.fecha,
.filtro-asis input.asis {
    border: 1px solid var(--naranja-oscuro);
    /* border: 1px solid var(--verde-claro); */
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: var(--gris-oscuro);
}

.filtro-asis input.asis {
    width: 126px;
}

.filtro-fecha input.fecha::-webkit-calendar-picker-indicator {
    filter: opacity(0.7);
    cursor: pointer;
}

.filtro-asis input.asis::-webkit-inner-spin-button {
    visibility: hidden;
}
.filtro-asis input.asis::-webkit-inner-spin-button {
	visibility: hidden;
}

/* submit filtros */
.aplicar {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.aplicar-filtros, .limpiar-filtros {
    width: 70%;
    padding: 4px 0;
    border: 1px solid var(--verde-oscuro);
    border-radius: 100px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--verde-oscuro);
    transition: all 150ms;
    user-select: none;
}

.aplicar-filtros:hover,
.limpiar-filtros:hover {
    border: 1px solid var(--verde-claro);
    color: var(--verde-claro);
}

#filtros-semillas:hover {
    border: 1px solid var(--verde-claro);
    color: var(--verde-claro);
}

.limpiar-filtros {
	width: auto;
    border: none;
}

.limpiar-filtros:hover {
    border: none;
}

#limpiar-filtros:hover {
    color: var(--verde-claro);
}

.right {
    /* padding-bottom: 10px; */
    /* overflow-x: auto; */
    /* -webkit-overflow-scrolling: touch; */
    /* transform:rotateX(180deg); */
    position: relative;
    display: flex;
    flex-direction: column;
}

.right::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.right::-webkit-scrollbar-thumb {
    background: var(--gris);
    border-radius: 5px;
}

.right::-webkit-scrollbar-thumb:active {
    background: gray;
}

.right::-webkit-scrollbar-track {
    margin: 15px;
    background: rgba(0, 0, 0, 0.001);
}

.filtro-fecha,
.filtro-asis {
    position: relative;
    margin: 2rem 0 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    font-family: 'Roboto', sans-serif;
    color: var(--negro);
}

.filtro-asis {
    margin-right: auto;
}

.filtro-fecha .campo,
.filtro-asis .campo {
    position: absolute;
    top: -22px;
    left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--negro);
    user-select: none;
}

.filtro-fecha input.fecha,
.filtro-asis input.asis {
    /*border: 1px solid var(--naranja-oscuro);*/
    border: 1px solid var(--verde-oscuro);
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: var(--gris-oscuro);
}

.filtro-asis input.asis {
    width: 126px;
}

.filtro-fecha input.fecha::-webkit-calendar-picker-indicator {
    filter: opacity(0.7);
    cursor: pointer;
}

.filtro-asis input.asis::-webkit-inner-spin-button {
    visibility: hidden;
}
.filtro-asis input.asis::-webkit-inner-spin-button {
	visibility: hidden;
}

/* submit filtros */
.aplicar {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.aplicar-filtros, .limpiar-filtros {
    width: 180px;
    padding: 4px 0;
    border: 1px solid var(--verde-oscuro);
    border-radius: 100px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--verde-oscuro);
    transition: all 150ms;
    user-select: none;
}

.aplicar-filtros:hover,
.limpiar-filtros:hover {
    border: 1px solid var(--verde-claro);
    color: var(--verde-claro);
}

#filtros-semillas:hover {
    border: 1px solid var(--verde-claro);
    color: var(--verde-claro);
}

.limpiar-filtros {
	width: auto;
    border: none;
}

.limpiar-filtros:hover {
    border: none;
}

#limpiar-filtros:hover {
    color: var(--verde-claro);
}

.right {
    /* padding-bottom: 10px; */
    /* overflow-x: auto; */
    /* -webkit-overflow-scrolling: touch; */
    /* transform:rotateX(180deg); */
    position: relative;
    display: flex;
    flex-direction: column;
}

.right::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.right::-webkit-scrollbar-thumb {
    background: var(--gris);
    border-radius: 5px;
}

.right::-webkit-scrollbar-thumb:active {
    background: gray;
}

.right::-webkit-scrollbar-track {
    margin: 15px;
    background: rgba(0, 0, 0, 0.001);
}

/* NO RESULTS */
.no-results {
    text-align: center;
    padding: 1.5rem 4rem;
    background: var(--blanco1);
    color: var(--verde-oscuro);
    box-shadow: 0px 4px 4px rgba(23, 23, 23, 0.15);
    border-radius: 16px;
    user-select: none;
}
.no-results h3 {
	font-size: 1.6rem;
	font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.no-results mark {
    background-color: transparent;
    color: var(--verde-oscuro);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

/* TABLA */
table {
    /* padding-top: 1rem; */
    /* width: 75vw; */
    /* transform:rotateX(180deg); */
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* head */
thead {
    background: var(--gris-oscuro);
    color: var(--blanco1);
    border-radius: 16px 16px 0px 0px;
    user-select: none;
}

thead th {
    text-align: left;
    font-size: 17px;
    padding: .8rem;
    font-weight: 500;
}

thead tr th:first-child {
    border-radius: 16px 0px 0px 0px;
}

thead tr th:last-child {
    border-radius: 0px 16px 0px 0px;
}

/* body */
tbody tr {
    width: 100%;
    background: var(--blanco1);
    color: var(--negro);
    /* border-bottom: 1px solid #DE980080; */
    border-bottom: 1px solid var(--gris);
}

tbody tr:hover {
    background-color: var(--gris-claro);
}

tbody tr:last-child {
    border-bottom: none;
}

tbody td {
    font-family: 'Roboto', sans-serif;
}

tbody td a {
    padding: .8rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
}


#pagination {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination input {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    color: var(--verde-oscuro);
}

#pagination input:disabled {
    color: var(--gris-claro);
    cursor: not-allowed;
}

#pagination #prev {
    margin-right: auto;
}

#pagination #next {
    margin-left: auto;
}

#pagination #prev:enabled:hover,
#pagination #next:enabled:hover {
    color: var(--verde-claro);
}

#pagination .active {
    color: var(--verde-claro);
    text-decoration: underline;
}

/* td a.estado */
.green {
    color: var(--verde-activo);
    font-weight: 500;
}

/* td a.estado */
.red {
    color: var(--rojo);
    font-weight: 500;
}

/* td a.estado */
.blue {
    color: var(--azul);
    font-weight: 500;
}

/* td a.estado */
.black {
    color: var(--negro);
    font-weight: 500;
}