@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* En caso de que haya algun problema con las direcciones de ubicación de las imágenes, también van a estar subidas virtualmente para copiar y pegar link.
Link: https://imgur.com/a/6tV4pCo */

:root {
	--blanco1: #FAFAFA;
	--blanco2: #F5F8F5;
	--gris: #9D9E9E;
	--gris-claro: #EEEDED;
	--gris-oscuro: #676767;
	--negro: #171717;
	--verde-claro: #4CAF44;
	--verde-oscuro: #395727;
	--verde-fondo: #F1FCEA;
	--naranja: #FFAF03;
	--naranja-oscuro: #DE9800;
  --azul: #1d3daf;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
*::-webkit-scrollbar-thumb {
  background: var(--verde-oscuro);
  border-radius: 5px;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

img {
	user-select: none;
}

a {
	user-select: none;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

nav {
	height: 5rem;
	background-color: var(--verde-fondo);
}

main {
	/* border: 1px solid red; */
	width: 85%;
	margin: 4rem auto 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-weight: 500;
	color: var(--naranja-oscuro);
	margin-right: auto;
}

.importar-semillas {
	margin: 4rem 0 2rem auto;
	padding: .5rem 1.5rem;
	border: 1px solid var(--verde-oscuro);
	border-radius: 100px;
	background: transparent;
	color: var(--verde-oscuro);
	font-weight: 500;
	user-select: none;
	cursor: pointer;
}

.importar-semillas:hover {
	border: 1px solid var(--verde-claro);
	color: var(--verde-claro);
}

table {
	width: 100%;
	position: relative;
}

thead {
	user-select: none;
}

th, td {
	/* border: 1px solid red; */
	margin: auto;
	text-align: left;
}

thead {
	background: var(--verde-oscuro);
	color: var(--gris-claro);
	border-radius: 16px 16px 0px 0px;
}

th {
	padding: 1rem;
	font-weight: 500;
	font-size: 20px;
}

th:nth-child(1) {
	border-radius: 16px 0px 0px 0px;
}

th:nth-child(6) {
	border-radius: 0px 16px 0px 0px;
}

tbody td {
	padding: 1rem;
	background: var(--gris-claro);
	color: var(--negro);
	border-bottom: 1px solid var(--gris);
	font-weight: 400;
}

td {
	font-family: 'Roboto', sans-serif;
}

td.arrow {
	color: var(--gris-oscuro);
	padding: 0px;
	margin: 0px;
}

td.arrow a {
	/* border: 1px solid rgb(230, 230, 230); */
	margin: auto;
	padding: 0;
	display: grid;
	text-align: center;
	font-size: 2.1rem;
}

#pagination {
	/* border: 1px solid red; */
	position: absolute;
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pagination input {
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .8rem;
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	font-weight: 500;
	color: var(--verde-oscuro);
}

#pagination input:disabled {
	color: var(--gris-claro);
	cursor: not-allowed;
}


#pagination #prev {
	margin-right: auto;
}

#pagination #next {
	margin-left: auto;
}

#pagination #prev:enabled:hover,
#pagination #next:enabled:hover {
	color: var(--verde-claro);
}

#pagination .active {
	color :var(--verde-claro);
	text-decoration: underline;
}
